/********* Stile di  *********/
.app-root-view {
    -fx-background-color: linear-gradient(to bottom, #e3f2fd, #bbdefb);
    -fx-padding: 10px, 20px;
}

.app-root-view .mode-selector-button {
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #873eff;
    -fx-border-radius: 15px;
    -fx-background-radius: 10px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0, 2, 2);
}

/********* Stile di TravelModeViewImpl *********/
.root-pane {
    /*-fx-background-color: linear-gradient(to bottom, #e3f2fd, #bbdefb);*/
    -fx-background-color: transparent;
    -fx-padding: 20px;
}

.main-button {
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #1e88e5;
    -fx-border-radius: 15px;
    -fx-background-radius: 10px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0, 2, 2);
}

.main-button:hover {
    -fx-background-color: #1565c0;
}

.main-button:pressed {
    -fx-background-color: #004f8a;
}

.top-pane {
    -fx-background-color: white;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-border-color: #1e88e5;
    -fx-border-width: 2px;
    -fx-padding: 15px 25px 15px 25px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0, 2, 2);
}

.results-section {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}


/********* Stile per CityInputBox *********/

.city-input-box {
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-border-color: #2980b9;
    -fx-border-width: 2px;
    -fx-padding: 15px;
    -fx-background-color: white;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 3, 0, 2, 2);
}

.city-input-text-field {
    -fx-font-size: 16px;
    -fx-text-fill: #2c3e50;
    -fx-border-color: #3498db;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-color: #ecf0f1;
    -fx-background-radius: 10px;
}

.city-input-text-field:hover {
    -fx-border-color: #33b3da;
}

.label-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #2980b9;
}


/********* Stile per CityDateTimeInputBox *********/

.spinner-custom {
    -fx-font-size: 14px;
    -fx-border-color: #3498db;
    -fx-border-radius: 5px;
}

.date-picker-disabled-cell {
    -fx-background-color: #f4f4f4;
    -fx-text-fill: #b0b0b0;
    -fx-opacity: 0.7;
}

.date-picker-enabled-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #2c3e50;
}

.date-picker-enabled-cell:hover {
    -fx-background-color: #d1e8ff;
    -fx-text-fill: #2c3e50;
}

.date-picker-custom {
    -fx-font-size: 14px;
    -fx-border-color: #3498db;
    -fx-border-radius: 5px;
}

.titled-pane-custom {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}


/********* Stile per ResultBox *********/

.result-box {
    -fx-background-color: #f8f9fa;
    -fx-border-color: #ced6e0;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-padding: 20px 50px 20px 50px;
}

.meteo-score {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to right, #0078D7, #005fa3);
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-padding: 20px;
    -fx-alignment: center;
}

.result-box .label {
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 20px;
    -fx-font-weight: 900;
    -fx-text-fill: #2980b9;
}

.result-box-green {
    -fx-background-color: #e8f5e9;
    -fx-border-color: #66bb6a;
}

.result-box-green .label {
    -fx-text-fill: #2e7d32;
}

.meteo-score-green {
    -fx-background-color: linear-gradient(to right, #2e7d32, #43a047);
}

.result-box-yellow {
    -fx-background-color: #fffde7;
    -fx-border-color: #fff176;
}

.result-box-yellow .label {
    -fx-text-fill: #f9a825;
}

.meteo-score-yellow {
    -fx-background-color: linear-gradient(to right, #fdd835, #fbc02d);
}

.result-box-orange {
    -fx-background-color: #fff3e0;
    -fx-border-color: #ffb74d;
}

.result-box-orange .label {
    -fx-text-fill: #ef6c00;
}

.meteo-score-orange {
    -fx-background-color: linear-gradient(to right, #fb8c00, #f57c00);
}

.result-box-red {
    -fx-background-color: #ffebee;
    -fx-border-color: #ef5350;
}

.result-box-red .label {
    -fx-text-fill: #c62828;
}

.meteo-score-red {
    -fx-background-color: linear-gradient(to right, #e53935, #d32f2f);
}

.center-info-box {
    -fx-padding: 20px 0 20px 0;
    /*-fx-border-color: #f3cd09;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;*/
}