# Ignore the bin folder and all its contents
bin/

# Ignore Java class files
*.class

# Ignore Gradle files and build folder
.gradle/
build/

# Ignore app config folder
app_config/

# Ignore macOS specific file
.DS_Store

# Ignore IDE project files
.idea/
.vscode/

# Ignore log files
*.log

# Ignore specific JSON file
API-Keys.json
configuration.json
