# Ignore the bin folder and all its contents
bin/

# Ignore every pdf file
*.pdf

# Rule exception (beginning with a !): pdf files named 'myImportantFile.pdf' should be tracked
!myImportantFile.pdf

# Ignore Java class files
*.class

# Ignore Gradle files and build folder
.gradle
build

# Ignore macOS specific file
.DS_Store

# Ignore IntelliJ IDEA project files
**/.idea/

# Ignore log files
*.log

# Ignore specific JSON file
API-Keys.json

